@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 176px 135px 208px 135px;
  background: #28293e;
  display: flex;
  /* justify-content: space-between; */
}

.container p {
  margin-bottom: 27px;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.container form {
  width: 570px;
  height: 496px;
  margin-right: 130px;
  border-radius: 6px;
  background: #fff;
}

.container input {
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #f3d1bf;
  background: #fff;
}

.container form label {
  display: block;
  margin-bottom: 28px;
}
.container  form {
  padding: 57px 48px 48px 48px;
}
.container input
.container input,
{
  width: 100%;
}
.container  form [type="email"] {
  width: 474px;
  height: 48px;
}

/* .container  form [id="subject"] {
  width: 474px;
  height: 48px;
}

.container  form [type="textarea"] {
  width: 474px;
  height: 135px;
} */

.container form button {
  width: 154px;
  height: 48px;
  border-radius: 6px;
  background: #ef6d58;
  border: none;
  float: right;
}

.container form button a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.container .contact-me h1 {
  margin-bottom: 20px;
  width: 86px;
  color: var(--Text_Light_Accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container .contact-me h2 {
  margin-bottom: 28px;
  width: 334px;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
}

.container .contact-me p {
  margin-bottom: 33px;
  width: 470px;
  color: var(--Text_Light_Gray, rgba(255, 255, 255, 0.64));
  font-feature-settings: "clig" off, "liga" off;

  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container .contact-me .cirycle {
  /* position: relative; */
  width: 48px;
  height: 48px;
  background-color: #ef6d58;
  border-radius: 50%;
}

.container .contact-me .cirycle img {
  /* position: absolute; */
  /* margin: 13px; */

  display: flex;
  justify-content: center;
  align-content: center;
}

.container .contact-me .cirycle p {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin-left: 90px; */
  width: 283px;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;

  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
